.time-notice {
    $g: &;
    
    font-family: $secondary-font;
    font-weight: bold;

    &--pre {
        background: rgba(255, 255, 255, .8);
    }

    &--ready {
        background: $white url(img/details/field.png) center/cover no-repeat;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__ready {
        text-transform: uppercase;
        color: $secondary-text-color;
    }

    &__num {
        line-height: 1;

        #{$g}--pre & {
            font-size: $large-font-size;

            @include sm {
                font-size: $mid-font-size;
            }
        }

        #{$g}--ready & {
            font-size: $largest-font-size;
            color: $tertiary-text-color;

            @include sm {
                font-size: $mid-font-size;
            }
        }
    }

    &__unit {
        font-size: 18px;
        color: #979285;
    }
}

.button {
    @include transition;

    width: 100%;
    max-width: 175px;
    padding: 15px 0;
    font-family: $secondary-font;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px dashed;
}

.nav {
    &__heading {
        font-family: $handwriting-font;
        font-size: $mid-font-size;
        font-weight: 100;
    }

    &__list {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex-grow: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:not(:last-of-type) {
            &::after {
                content: "~";
                position: absolute;
                left: calc(100% - 5px);
            }
        }
    }

    &__link {
        @include transition;

        padding: 20px 0;
        flex-basis: 100%;
        font-family: $secondary-font;
        text-transform: uppercase;
        
        &:hover {
            color: $interaction-color;
        }
    }
}

%hamburger-strip {
    width: 100%;
    height: 2px;
    background-color: $white;
    border-radius: 5px;
}