// Media queries

@mixin sm {
    @media screen and (max-width: 575px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin lg {
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin xl {
    @media screen and (max-width: 1199px) {
        @content;
    }
}

@mixin rwd($screen) {
    @media screen and (max-width: $screen) {
        @content;
    }
}

//

@mixin responsive-square($size: 50%) {
    width: $size;
    padding-bottom: $size;
    height: 0;
}

@mixin pos-abs-align($direction: both) {
    position: absolute;

    @if ($direction == horizontal) {
        left: 50%;
        transform: translateX(-50%);
    } @else if ($direction == vertical) {
        top: 50%;
        transform: translateY(-50%);
    } @else {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin stamp($size: 100px, $color: "%23000", $fill: none, $line-width: 2, $isResponsive: false) {
    @if $isResponsive {
        @include responsive-square($size);
    } @else {
        width: $size;
        height: $size;
    }
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 24.1.1, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='246.97px' height='246.97px' viewBox='0 0 246.97 246.97' style='enable-background:new 0 0 246.97 246.97;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:#{$fill};stroke:#{$color};stroke-width:#{$line-width};stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cg id='XMLID_1_'%3E%3Cpath id='XMLID_3_' class='st0' d='M109.8,6.95c7.52-7.93,19.84-7.93,27.36,0s22.26,11.88,32.74,8.77 c10.48-3.11,21.15,3.05,23.7,13.68s13.34,21.42,23.97,23.97c10.63,2.55,16.79,13.21,13.68,23.7c-3.11,10.48,0.84,25.21,8.77,32.74 c7.93,7.52,7.93,19.84,0,27.36c-7.93,7.52-11.88,22.26-8.77,32.74c3.11,10.48-3.05,21.15-13.68,23.7 c-10.63,2.55-21.42,13.34-23.97,23.97c-2.55,10.63-13.21,16.79-23.7,13.68c-10.48-3.11-25.21,0.84-32.74,8.77 c-7.52,7.93-19.84,7.93-27.36,0c-7.52-7.93-22.26-11.88-32.74-8.77c-10.48,3.11-21.15-3.05-23.7-13.68 c-2.55-10.63-13.34-21.42-23.97-23.97s-16.79-13.21-13.68-23.7c3.11-10.48-0.84-25.21-8.77-32.74s-7.93-19.84,0-27.36 s11.88-22.26,8.77-32.74s3.05-21.15,13.68-23.7c10.63-2.55,21.42-13.34,23.97-23.97c2.55-10.63,13.21-16.79,23.7-13.68 S102.28,14.88,109.8,6.95z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Folded corner element

@mixin clip-corner($size: 50px) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, $size 100%, 0 calc(100% - #{$size}));
}

@mixin folded-corner($size: 50px, $color: #f7f7f7) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-color: transparent $color;
    border-width: 0 $size $size 0;
    box-shadow: 2px -2px 5px -3px rgba(0, 0, 0, 0.75);
}

//

@mixin darken-background($image, $value) {
    $dark-layer: rgba(0, 0, 0, $value);
    background: linear-gradient($dark-layer, $dark-layer),
                url($image) center/cover no-repeat;
}

@mixin transition {
    transition: all .3s;
}