// Colors

$primary-text-color: #56534c;
$secondary-text-color: #a47d5e;
$tertiary-text-color: #dfc691;

$white: #fff;
$white-darker: #f3f1e9;
$white-darkest: #c2beba;

$black-lightest-color: rgba(0, 0, 0, .15);
$black-light-color: rgba(0, 0, 0, .25);
$black-mid-color: rgba(0, 0, 0, .5);
$black-dark-color: rgba(0, 0, 0, .75);

$interaction-color: #c9b176;

// Font

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Alegreya', serif;
$tertiary-font: 'Playfair Display', serif;
$handwriting-font: 'Parisienne', cursive;

$smallest-font-size: 24px;
$small-font-size: 30px;
$mid-font-size: 48px;
$large-font-size: 60px;
$largest-font-size: 92px;

// Bottom margins

$smallest-margin: 10px;
$small-margin: 25px;
$mid-margin: 50px;
$large-margin: 75px;
$largest-margin: 100px;